<!-- begin footer -->
<footer class="footer">
  <div class="container">

     

    <!-- <div class="row">
      <div class="col col-12">

        <h2 style="color:#715073">Werde Teil des neuen Systems</h2>
        <p style="color:#715073">
          Wir verzichten auf Werbung durch Newsletter - liest eh keiner :) <br>
          Bei uns gibt's eine kostenfreie Jahresausbildung 2x pro Monat direkt in dein Postfach mit Tools aus dem neuen System
        </p>
        
    
        <div id="newsletter">
          <script async data-uid="92986e572e" src="https://iysak.kit.com/92986e572e/index.js"></script>
        </div>

        {% bookshop_include social-link %}

        <ul class="footer_nav list-reset">
          {% for item in site.data.footer.footer_menu__settings.menu__items %}
          <li class="footer_nav__item">
            <a href="{{ item.url | relative_url }}" class="footer_nav__link">{{ item.title }}</a>
          </li>
          {% endfor %}
        </ul>

        <div class="copyright">{{ site.data.footer.copyright_text_html }}</div>

      </div>
    </div> -->
  </div>
</footer>
<!-- end footer -->